.transparent-wrapper
  #about-page.container
    %h2.positive-bottom-big
      Let's go for a journey with Jourmie!
    %p Jourmie is a travel diary which allows you and your buddies to create awesome albums. Filled with joy, emotions and fun so you can almost touch your memories! Use wide range of tools, invite your friends and start recollecting in a completely new way!
    %p Because we believe that great memories are the most powerful and inspiring tool of human being, we are creating tool which allows us to save them exactly as we want to remember them. Recollecting and sharing the greatest moments of our life with the best people around - friends - has never been so easy. With Jourmie you can save moments exactly as you want with every single detail. Traditional, unforgettable content as photos and videos can be mixed with tasty and unique peculiarities such as music or exact location. All these things covered with some inspiring and everyday-proof design. 
    %p Life is a path of moments - they are too precious to let any of them go!
