#home-wrapper
  .container
    .row
      #home-teaser.span10.offset1
        %p.first-line
          Travel diary made by buddies
        %p.second-line
          for buddies!
        .clearfix
        
    .row
      .span8
        #computer-screens
      .span4
        = render "devise/registrations/signup_form"
        .pull-right= render "devise/shared/connect_links", :classname => 'btn-mini'
      
.container      
  #home-thumbnails
    .home-thumbnail
      .description
        Save your feelings, joy and passion like never before!
      .image.album
    .home-thumbnail
      .description
        Invite your buddies and easilly create awesome travel albums!
      .image.content
    .home-thumbnail
      .description
        Create uniqe travel gadgets and customize your album with 
        = link_to "Jourmie Shop", "#"
      .image.shop
  
