- classname ||= "btn-medium"
= link_to "", "#", :class => "#{classname} btn-facebook", :title => "Connect with Facebook"
= link_to "", "#", :class => "#{classname} btn-twitter", :title => "Connect with Twitter"
