- classname ||= "btn-medium"
= link_to "", user_omniauth_authorize_path(:facebook), :class => "#{classname} btn-facebook", :title => "Connect with Facebook"
= link_to "", user_omniauth_authorize_path(:twitter), :class => "#{classname} btn-twitter", :title => "Connect with Twitter"
