@import "layout";
@import "variables";

input.dotted, button.dotted {
  background: transparent;
  border: dotted $jourmieTurquoise !important;
  border-width: 2px 0 !important;
  box-shadow: none !important;
  color: #fff !important;
  @include border-radius(0);
  @include placeholder(#fff);
  letter-spacing: 3px;
  font-weight: bold;
}

input.high, button.high {
  padding: 20px 0;
}

input.centered {
  text-align: center;
}

div.dotted {
  background: transparent;
  border: dotted $jourmieTurquoise !important;
  border-width: 2px 0 !important;
  color: #fff !important;
  @include border-radius(0);
}

#new-place {
  font-size: 16px;
  position: relative;
  input, button {
    background: transparent;
    border: 0;
    box-shadow: none !important;
    @include border-radius(0);
    @include placeholder(#fff);
    color: #fff !important;
    font-weight: bold;
  }
  input.gmaps {
    width: 60%;
    margin-right: 10px;
  }
  span {
    color: #fff;
    font-weight: bold;
  }
  span.desc {
    width: 120px;
    text-align: left;
    opacity: 0.8;
  }
  input.datepicker {
    width: 10%;
    text-align: center;
  }
  .connector {
    width: 10px;
    margin: 0 3px;
  }
}

#invite-box, #places-box {
  text-align: center;
  padding: 20px 0;
  .social-icon {
    margin: 0 20px;
  }
}

.content-icon {
  width: 105px;
  height: 70px;
  text-indent: -9999px;
  display: inline-block;
  margin: 0 auto;
  background: transparent bottom no-repeat;
  background-size: auto 60px;
  &.photo {
    background-image: url('icons/photo.png');
    &:active {
      background-image: url('icons/photo_pushed.png');
    }
  }
  &.video {
    background-image: url('icons/video.png');
    &:active {
      background-image: url('icons/video_pushed.png');
    }
  }
  &.music {
    background-image: url('icons/music.png');
    &:active {
      background-image: url('icons/music_pushed.png');
    }
  }
  &.story {
    background-image: url('icons/story.png');
    &:active {
      background-image: url('icons/story_pushed.png');
    }
  }
  &.others {
    background-image: url('icons/others.png');
    &:active {
      background-image: url('icons/others_pushed.png');
    }
  }
  &.car {
    background-image: url('icons/car.png');
    &:active {
      background-image: url('icons/car_pushed.png');
    }
  }
  &.train {
    background-image: url('icons/train.png');
    &:active {
      background-image: url('icons/train_pushed.png');
    }
  }
  &.plane {
    background-image: url('icons/plane.png');
    &:active {
      background-image: url('icons/plane_pushed.png');
    }
  }
  &.shoe {
    background-image: url('icons/shoe.png');
    &:active {
      background-image: url('icons/shoe_pushed.png');
    }
  }
  &.hitchhike {
    background-image: url('icons/hitchhike.png');
    &:active {
      background-image: url('icons/hitchhike_pushed.png');
    }
  }
  &.bike {
    background-image: url('icons/bike.png');
    &:active {
      background-image: url('icons/bike_pushed.png');
    }
  }
}

.social-icon {
  text-indent: -9999px;
  font-size: 0;
  display: inline-block;
  width: 60px;
  height: 56px;
  background: transparent bottom no-repeat;
  background-size: auto 50px;
  &.facebook {
    background-image: url('icons/facebook.png');
    &:active {
      background-image: url('icons/facebook_pushed.png');
    }
  }
  &.jourmie {
    background-size: 60px auto;
    background-image: url('icons/jourmie.png');
    &:active {
      background-image: url('icons/jourmie_pushed.png');
    }
  }
  &.twitter {
    background-image: url('icons/twitter.png');
    &:active {
      background-image: url('icons/twitter_pushed.png');
    }
  }
  &.gplus {
    background-image: url('icons/gplus.png');
    &:active {
      background-image: url('icons/gplus_pushed.png');
    }
  }
  &.linkedin {
    background-image: url('icons/linkedin.png');
    &:active {
      background-image: url('icons/linkedin_pushed.png');
    }
  }
  &.mail {
    background-image: url('icons/mail.png');
    &:active {
      background-image: url('icons/mail_pushed.png');
    }
  }
  &.iphone {
    background-image: url('icons/iphone.png');
    &:active {
      background-image: url('icons/iphone_pushed.png');
    }
  }
  &.twitter-small {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    background-image: url('icons/twitt.png');
    &:active {
      background-image: url('icons/twitt_pushed.png');
    }
  }
  &.facebook-small {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    background-image: url('icons/fb.png');
    &:active {
      background-image: url('icons/fb_pushed.png');
    }
  }
}

.album-item {
  width: 100%;
  padding-top: 130px;
  height: 170px;
  margin-bottom: 20px;
  position: relative;
  .album-title, .album-title a {
    font-size: 60px;
    text-shadow: 2px 2px 0 rgba(100,100,100,0.2);
    letter-spacing: 6px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  .album-info {
    margin: 80px auto;
    bottom: 10px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  }
  background: $jourmieTurquoise;
}

.place, .road {
  margin-bottom: 25px;
  
  .place-map {
    width: 970px;
    margin-left: -20px;
    height: 300px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 15px;    
  }
  .place-header {
    padding-bottom: 15px;
    line-height: 40px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    .place-name {
      text-align: left;
      font-size: 2.5em;
    }
    .place-date {
      text-align: right;
      padding-top:5px;
      font-size: 1.1em;
    }
  }
  .place-buttons {
    list-style: none;
    text-align: center; 
    margin-bottom: 20px;
    &.transport li a {
      opacity: 0.4;
      &:active, &:hover, &.active {
        opacity: 1;
      }
      div {
        opacity: inherit;
      }
    }
  }
  .place-buttons li {
    display: inline-block;
    margin: 0 20px;
  }
  .place-buttons a {
    color: #fff;
    text-decoration: none !important;
  }
  .section-header {
    text-align: left;
    font-weight: bold;
    font-size: 1.1em;
  }
}

.road {
  width: 100%;
  padding: 10px 25px;
  margin-left: -20px;
  margin-right: -20px;
  background: rgba(255,255,255,.15);
}

#new-place {
  margin-top: 20px;
}

#album-cover-carousel {
  width: 970px;
  .carousel-control {
    top: 45%;
  }
  .album-title {
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    z-index: 100;
  }
  #album-title {
    text-align: center;
    border: 0 !important;
    background: transparent;
    font-weight: bold;
    box-shadow: none !important;
    font-size: 60px;
    text-shadow: 2px 2px 0 rgba(100,100,100,0.2);
    letter-spacing: 6px;
    color: #fff !important;
    height: auto;
    opacity: 1;
    line-height: 50px;
  }
}

.ui-autocomplete {
  padding: 10px;
  left: auto !important;
  margin: 0 auto;
  list-style:none;
  font-size: 13px;
  background: #fff;
  border: 1px solid #333;
  width: 500px;
  color: $jourmieDarkGray;
  @include border-radius(5px);
  a:hover {
    cursor: pointer;
    text-decoration: none;
    color: $jourmieRed;
    cursor: pointer
  }
}

#add-photos {
  background: transparent url('add_photos_background.png') center no-repeat;
  padding: 20px;
  width: 920px;
  margin: 20px auto;
  height: 200px;
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(255,255,255,.4);
  }
  .folder-area, .drop-area {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    float: left;
    border: 0;
  }
  .folder-area {
    background: transparent url('clouds/add_images.png') no-repeat center;
    input[type=file] {
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      opacity: 0;      
    }
  }  
  .drop-area {
    background: transparent url('clouds/drag_and_drop.png') no-repeat center;
  }
}

#photos {
  width: 970px;
  position: relative;
  margin: 10px auto;
}

.photo-item {
  width: 310px;
  height: 280px;
  margin: 6px;
  text-align: left;
  display: inline;
  float: left;
  position: relative;
  color: #333;
  .jr-delete {
    position: absolute;
    right: -7px;
    top: -7px;
    z-index: 100;
    &:hover {
      right: -9px;
      top: -9px;
    }
  }
  .photo-item-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: rgba(255,255,255,.5);
    div.image {
      position: relative;
      width: 100%;
      height: 100%;
      background: transparent center no-repeat;
      background-size: cover;
    }
  }
  .photo-item-description {
    height: 60px;
    background: #fff;
    input[type=text], textarea {
      background: transparent;
      border: 0 !important;
      color: inherit !important;
      box-shadow: none !important;
      width: 95%;
    }
  }
  .photo-item-buttons {
    height: 20px;
    background: #fff;
    padding: 0 5px;
    a {
      color: $jourmieTurquoise;
      font-weight: bold;
      text-decoration: none;
    }
  }
  .progress {
    position: relative;
    width: 80%;
    margin: 75px auto 0 auto;
  }
}


#invite-modal {
  h2 {
    color: $jourmieDarkGray !important;
  }
  input {
    background: inherit;
    color: #333 !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
  }
}

.chosen-friendships {
  .friend {
    width: 180px;
    float: left;
    margin: 10px;
    .name {
      float: left;
      display: inline;
      color: #333;
    }
    .avatar {
      margin-right: 10px;
      float: left;
      display: inline-block;
      border: 3px solid $jourmieRed;
      @include border-radius(5px);
      @include box-shadow(2px 2px 2px rgba(0,0,0,.5));
    }
  }
}

.album-show {
  postiion: relative;
  .icon-tag {
    display: block;
    position: absolute;
    left: -10px;
    background: transparent url('icons/icon_tag.png') center no-repeat;
    width: 57px;
    height: 55px;
    background-size: 57px 55px;
    .note {
      position: relative;
      top: 5px;
      left: 3px;
      text-align:center;
      color: $jourmieDarkGray;
      .number {
        font-size: 17px;
      }
      .text {
        font-size: 10px;
      }
    }
  }
  .album-name {
    display: block;
    margin: 10px auto;
    width: 920px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
    font-size: 50px;
  }
  .album-info {
    font-size: 15px;
    margin: 20px auto;
    width: 940px;
  }
  .participants {
    a {
      margin: 5px;
      display: inline;
      float: left;
    }
    .avatar {
      width: 40px;
      height: 40px;
      @include border-radius(40px);
      @include box-shadow(0 2px 2px rgba(0,0,0,.5));
      border: 1px solid $jourmieTurquoise;
    }
  }
  .dates {
    font-size: 20px;
  }
  .transparent-wrapper {
    width: 980px;
  }
}

.album-icon {
  display: block;
  margin: 5px 10px;
  width: 35px;
  height: 35px;
  background: transparent no-repeat center;
  background-size: 35px 35px;
  &.map {
    background-image: url('icons/map.png');
  }
  &.photo {
    background-image: url('icons/photo.png');
  }
}

.show-place {
  margin: 30px 180px 30px 60px;
  .place-map {
    width: 100%;
    height: 300px;
    @include box-shadow(2px 2px 1px rgba(0,0,0,.2));
  }
  .place-name {
    font-family: Pumped;
    line-height: 50px;
    display: block;
    font-size: 45px;
//    color: $jourmieDarkGray;
    color: #111;
    margin-bottom: 10px;
  }
  .info-bar {
    position: absolute;
    right: 20px;
    width: 140px;
    color: $jourmieDarkGray;
    .section-title {
      font-size: 13px;
    }
  }
  .info-date {
    font-size: 20px;  
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-bottom: 2px;
    border-bottom: 2px dotted $jourmieDarkGray;
  }
  .info-participants {
    margin: 10px auto;
    .number {
      margin-right: 10px;
      padding: 5px;
      width: 15px;
      height: 15px;
      @include border-radius(15px);
      background: $jourmieRed;
      color: #fff;
      font-weight: bold;
      span {
        position: relative;
        left: 3px;
        bottom: 1px;
      }
    }
    .text {
      position: relative;
      top: 4px;
    }
  }
  .info-map {
    height: 200px;
    @include box-shadow(2px 2px 1px rgba(0,0,0,.2));
  }
  .add-content {
    display: block;
    margin: 5px auto;
    text-shadow: 1px 1px 3px rgba(0,0,0,.2);
    text-align: center;
    color: $jourmieDarkGray !important;
    .plus {
      color: $jourmieRed;
      font-size: 20px;
      margin-right: 3px;
    }
    text-decoration: none;
  }
  .photos-big-carousel {
    margin: 20px auto;
    @include box-shadow(2px 2px 1px rgba(0,0,0,.2));
    .item {
      .photo-wrapper {
        max-height: 500px;
        text-align: center;
        overflow: hidden;
      }
      .photo-info {
        padding: 5px;
        background: rgba(255,255,255,.6);
      }
      .social-info {
        position: absolute;
        bottom: 5px;
        left: 70px;
        color: $jourmieDarkGray;
        span.comment-icon, span.heart-icon {
          display: inline-block;
          position: relative;
          top: 3px;
        }
        span.comment-icon {
          background: transparent url('icons/comment.png') no-repeat center;
          background-size: 17px 14px;
          height: 14px;
          width: 17px;
        } 
        span.heart-icon {
          background: transparent url('icons/heart.png') no-repeat center;
          background-size: 14px 14px;
          height: 14px;
          width: 14px;
        }
 
      }
      .avatar {
        margin-right: 10px;
      }
      .avatar img {
        @include box-shadow(2px 2px 2px rgba(0,0,0,.3));
      }
    }
  }
}
