@import "layout";
@import "variables";

input.dotted, button.dotted {
  background: transparent;
  border: dotted $jourmieTurquoise !important;
  border-width: 2px 0 !important;
  box-shadow: none !important;
  color: #fff !important;
  @include border-radius(0);
  @include placeholder(#fff);
  letter-spacing: 3px;
  font-weight: bold;
}

input.high, button.high {
  padding: 20px 0;
}

input.centered {
  text-align: center;
}

div.dotted {
  background: transparent;
  border: dotted $jourmieTurquoise !important;
  border-width: 2px 0 !important;
  color: #fff !important;
  @include border-radius(0);
}

#new-place {
  font-size: 16px;
  position: relative;
  input, button {
    background: transparent;
    border: 0;
    box-shadow: none !important;
    @include border-radius(0);
    @include placeholder(#fff);
    color: #fff !important;
    font-weight: bold;
  }
  input.gmaps {
    width: 60%;
    margin-right: 10px;
  }
  span {
    color: #fff;
    font-weight: bold;
  }
  span.desc {
    width: 120px;
    text-align: left;
    opacity: 0.8;
  }
  input.datepicker {
    width: 10%;
    text-align: center;
  }
  .connector {
    width: 10px;
    margin: 0 3px;
  }
}

#invite-box, #places-box {
  text-align: center;
  padding: 20px 0;
  border: solid rgba(255,255,255,.3);
  border-width: 1px 0;
  .social-icon {
    margin: 0 20px;
  }
}

.content-icon {
  width: 115px;
  height: 100px;
  text-indent: -9999px;
  display: inline-block;
  margin: 0 auto;
  background: transparent bottom no-repeat;
  background-size: auto 70px;
  &.photo {
    background-image: url('icons/photo.png');
    &:active {
      background-image: url('icons/photo_pushed.png');
    }
  }
  &.video {
    background-image: url('icons/video.png');
    &:active {
      background-image: url('icons/video_pushed.png');
    }
  }
  &.music {
    background-image: url('icons/music.png');
    &:active {
      background-image: url('icons/music_pushed.png');
    }
  }
  &.story {
    background-image: url('icons/story.png');
    &:active {
      background-image: url('icons/story_pushed.png');
    }
  }
  &.others {
    background-image: url('icons/others.png');
    &:active {
      background-image: url('icons/others_pushed.png');
    }
  }
  &.car {
    background-image: url('icons/car.png');
    &:active {
      background-image: url('icons/car_pushed.png');
    }
  }
  &.train {
    background-image: url('icons/train.png');
    &:active {
      background-image: url('icons/train_pushed.png');
    }
  }
  &.plane {
    background-image: url('icons/plane.png');
    &:active {
      background-image: url('icons/plane_pushed.png');
    }
  }
  &.shoe {
    background-image: url('icons/shoe.png');
    &:active {
      background-image: url('icons/shoe_pushed.png');
    }
  }
  &.hitchhike {
    background-image: url('icons/hitchhike.png');
    &:active {
      background-image: url('icons/hitchhike_pushed.png');
    }
  }
  &.bike {
    background-image: url('icons/bike.png');
    &:active {
      background-image: url('icons/bike_pushed.png');
    }
  }
}

.social-icon {
  text-indent: -9999px;
  font-size: 0;
  display: inline-block;
  width: 60px;
  height: 56px;
  background: transparent bottom no-repeat;
  background-size: auto 50px;
  &.facebook {
    background-image: url('icons/facebook.png');
    &:active {
      background-image: url('icons/facebook_pushed.png');
    }
  }
  &.twitter {
    background-image: url('icons/twitter.png');
    &:active {
      background-image: url('icons/twitter_pushed.png');
    }
  }
  &.gplus {
    background-image: url('icons/gplus.png');
    &:active {
      background-image: url('icons/gplus_pushed.png');
    }
  }
  &.linkedin {
    background-image: url('icons/linkedin.png');
    &:active {
      background-image: url('icons/linkedin_pushed.png');
    }
  }
  &.mail {
    background-image: url('icons/mail.png');
    &:active {
      background-image: url('icons/mail_pushed.png');
    }
  }
  &.iphone {
    background-image: url('icons/iphone.png');
    &:active {
      background-image: url('icons/iphone_pushed.png');
    }
  }
  &.twitter-small {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    background-image: url('icons/twitt.png');
    &:active {
      background-image: url('icons/twitt_pushed.png');
    }
  }
  &.facebook-small {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    background-image: url('icons/fb.png');
    &:active {
      background-image: url('icons/fb_pushed.png');
    }
  }
}

.album-item {
  width: 100%;
  padding-top: 100px;
  height: 110px;
  margin-bottom: 20px;
  .album-title, .album-title a {
    font-size: 40px;
    text-shadow: 2px 2px 0 rgba(100,100,100,0.2);
    letter-spacing: 6px;
    color: rgba(255,255,255,.5);
    font-weight: bold;
    text-decoration: none;
  }
  background: $jourmieTurquoise;
}

.place {
  .place-map {
    width: 970px;
    margin-left: -20px;
    height: 300px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 15px;    
  }
  .place-header {
    padding-bottom: 40px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    .place-name {
      font-size: 2.5em;
    }
  }
  .place-buttons {
    list-style: none;
    text-align: center; 
  }
  .place-buttons li {
    display: inline-block;
    margin: 0 25px;
  }
  .place-buttons a {
    color: #fff;
    text-decoration: none !important;
  }
}

#new-place {
  margin-top: 20px;
}

.ui-autocomplete {
  padding: 10px;
  width: 750px !important;
  left: auto !important;
  margin: 0 auto;
  background: rgba(0,0,0,0.6);
  list-style:none;
  font-size: 20px;
  text-align:center;
  a:hover {
    text-decoration: none;
    color: $jourmieRed;
    cursor: pointer
  }
}
