@import 'twitter/bootstrap/mixins';
@import 'variables';

#friendships {
  width: 820px;
  margin: 10px auto;
}

.friendship-item {  
  width: 220px;
  text-align: left;
  display: inline;
  float: left;
  margin: 15px;
  .name {
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
    font-family: "Pumped";
    color: #fff !important;
    text-decoration: none;
    font-size: 1.5em;
  }
  .avatar {
    @include border-radius(2px);
    @include box-shadow(2px 2px 2px rgba(0,0,0,.3));
    border: 3px solid $jourmieRed;
  }
  .pull-left {
    width: 60px;
    margin-right: 10px;
  }
  .pull-right {
    width: 140px;
  }
  .dropdown {
    display: inline;
  }
}

.settings-icon {
  width: 16px;
  height: 20px;
  background: transparent url('icons/settings.png') no-repeat center;
  background-size: 16px 17px;
  display: block;
}
