@import "bootstrap_and_overrides";
@import "variables";

@font-face {
  font-family: "Young";
  font-weight: normal;
  font-style: normal;
  src: asset-url("young.ttf", font) format('truetype');
}

@font-face {
  font-family: "Pumped";
  font-weight: normal;
  font-style: normal;
  src: asset-url("pumped_up_kicks.ttf", font) format('truetype');
}

//.pumped {
//  font-family: "Pumped";
//}

body {
  color: #fff;
  font-family: "Young", "Arial", sans-serif;
  background: transparent url("background_alternative.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &.home {
    background-image: none;
    color: #333;
  }
}

h1,h2,h3,h4 {
  font-family: "Young";
  letter-spacing: 3px;
  &.with-border {
    border-bottom: 1px solid rgba(255,255,255,.3);
    padding-bottom: 10px;
  }
}

h2 { 
  font-size: 21px; 
  line-height: 20px;
}
h3 { 
  font-size: 19px; 
  line-height: 18px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

div.centered {
  margin-left: auto;
  margin-right: auto;
}

.align-center {
  text-align: center;
}

button.text, input[type=submit].text {
  background: transparent;
  border:0;
  font-size: 20px;
  border-bottom: 1px solid $jourmieRed;
  color: #fff;
  letter-spacing: 3px;
  &.big {
    line-height: 30px;
    font-size: 30px;
    letter-spacing: 5px;
    padding-bottom: 0px;
  }
}

.centered {
  text-align: center;
}

.navbar .avatar {
  float: left;
  margin: 0;
  margin-right: 5px;
  position: relative;
  bottom: 5px;
}

.transparent-wrapper {
  padding: 15px 0;
  background: rgba(0,0,0,.5);
  width: 970px;
  margin: 0 auto;
  position: relative;
  h1,h2,h3,h4,h5 {
    color: #fff;
    font-weight: normal;
    line-height: 12px;
    margin-bottom: 0;
  }
  p {
    color: #fff;
  }
  &.white {
    background: rgba(255,255,255,.2);
  }
  &.strong-white {
    background: rgba(255,255,255,.5);
  }
}

#navigation-top {
  .navbar-inner {
    color: #fff !important; 
  }
  .brand {
    font-family: "Pumped";
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    position: relative;
    top: 3px;
    padding-left: 0;
    a {
      text-decoration: none !important;
    }
  }
}

.navbar {
  * {
    color: #fff !important;
    border-bottom: 0 !important;
  }
  .pull-right .nav {
    margin-right: -30px
  }
}

.navbar-notification {
  position: relative;
  z-index: 500;
  background: $jourmieTurquoise;
  min-height: 10px;
  padding: 3px;
  text-align: center;
  border-bottom: 1px solid;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.6), 0 3px 5px rgba(0,0,0,.4);;
  border-bottom: 1px solid rgba(0,0,0,.6);
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  h1, h2, h3, h4 {
    padding-top: 5px;
    margin: 0;
  }
  &.placeholder {
    position: absolute;
    right: 0;
    left: 0;
    padding: 0;
  }
}

.notification-error, .notification-alert, .notification-info {
    padding-top: 10px;
}

.notification-error, .notification-alert {
  background: $jourmieRed;
}

#main-container {
  padding-top: $navbarHeight + 30px;
}

footer {
  .navbar {
    .navbar-inner {
      background: $jourmieRed !important;
    }
  }
}

.btn-twitter, .btn-facebook {
  display: inline-block;
  &.btn-mini {
    width: 145px;
    height: 25px;
    background-size: 145px 25px;
  }
  &.btn-medium {
    width: 202px;
    height: 36px;
    background-size: 202px 36px;
  }
  padding: 0;
  background: transparent no-repeat center;
}

.btn-twitter {
  background-image: url('twitter_button.png');
  &:active {
    background-image: url('twitter_button_pushed.png');
  }
}
.btn-facebook {
  background-image: url('facebook_button.png');
  &:active {
    background-image: url('facebook_button_pushed.png');
  }
}

.margin-left-tiny {
  margin-left: 5px;
}

.margin-left-huge {
  margin-left: 50px;
}

.positive-left {
  margin-left: 10px;
}

.positive-left-big {
  margin-left: 20px;
}

.positive-top-tiny {
  margin-top: 5px;
}

.positive-top {
  margin-top: 10px;
}

.positive-top-big {
  margin-top: 20px;
}

.positive-top-huge {
  margin-top: 40px;
}

.positive-right-tiny {
  margin-right: 5px;
}

.positive-right {
  margin-right: 10px;
}

.positive-bottom-big {
  margin-bottom: 20px !important;
}

// Google Maps
.pac-item {
  color: #333;
}

#shutter {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $jourmieBlue;
  display: none; 
  overflow: auto;
  #shutter-header {
    padding: 10px 0;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
    color: #333;
    font-size: 1.1em;
    box-shadow: 0 3px 5px rgba(0,0,0,0.4)
  }
  .jr-close {
    z-index: 2001;
  }
}

.clearer {
  clear: both;
}

button.jr-close {
  position: absolute;
  right: 10px;
  top: 7px;
  background: transparent url('icons/close_button.png') no-repeat center;
  width: 26px;
  height: 25px;
  background-size: 26px 25px;
  text-indent: -9999px;
  font-size: 0;
  border: 0;
}

button.jr-delete {
  position: absolute;
  right: 10px;
  top: 7px;
  background: transparent url('icons/delete_button.png') no-repeat center;
  width: 26px;
  height: 25px;
  background-size: 26px 25px;
  text-indent: -9999px;
  font-size: 0;
  border: 0;
  &:hover {
    width: 34px;
    height: 33px;
    background-size: 34px 33px;
  }
}

#light-shutter {
  background: rgba(0,0,0,.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: auto;
  display: none;
  z-index: 2000;
}

.artificially-hidden {
  width: 0;
  height: 0;
  text-indent: -9999px;
  font-size: 0;
  opacity: 0;
}
