@import "bootstrap_and_overrides";
@import "variables";

@font-face {
  font-family: "Young";
  font-weight: normal;
  font-style: normal;
  src: asset-url("Young.ttf", font) format('truetype');
}

body {
  color: #fff;
  font-family: "Young", "Arial", sans-serif;
  background: transparent url("home_background.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &.home {
    background-image: none;
    color: #333;
  }
}

h1,h2,h3,h4 {
  font-family: "Young";
  letter-spacing: 3px;
}

h2 { 
  font-size: 21px; 
  line-height: 20px;
}
h3 { 
  font-size: 19px; 
  line-height: 18px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.navbar .avatar {
  float: left;
  margin: 0;
  margin-right: 5px;
  position: relative;
  bottom: 5px;
}

.transparent-wrapper {
  padding: 15px 0;
  background: rgba(0,0,0,.35);
  width: 100%;
  h1,h2,h3,h4,h5 {
    color: #fff;
    font-weight: normal;
    line-height: 12px;
    margin-bottom: 0;
  }
  p {
    color: #fff;
  }
}

#navigation-top {
  .navbar-inner {
    color: #fff !important; 
  }
}

.navbar {
  * {
    color: #fff !important;
    border-bottom: 0 !important;
  }
}

.navbar-notification {
  position: relative;
  z-index: 500;
  background: $jourmieTurquoise;
  min-height: 10px;
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.6), 0 3px 5px rgba(0,0,0,.4);;
  border-bottom: 1px solid rgba(0,0,0,.6);
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  h1, h2, h3, h4 {
    padding-top: 5px;
    margin: 0;
  }
}

.notification-error, .notification-alert, .notification-info {
    padding-top: 10px;
}

.notification-error, .notification-alert {
  background: $jourmieRed;
}

#main-container {
  padding-top: $navbarHeight + 40px;
}

footer {
  .navbar {
    .navbar-inner {
      background: $jourmieRed !important;
    }
  }
}

.btn-twitter, .btn-facebook {
  display: inline-block;
  &.btn-mini {
    width: 145px;
    height: 25px;
    background-size: 145px 25px;
  }
  &.btn-medium {
    width: 202px;
    height: 36px;
    background-size: 202px 36px;
  }
  padding: 0;
  background: transparent no-repeat center;
}

.btn-twitter {
  background-image: url('twitter_button.png');
  &:active {
    background-image: url('twitter_button_pushed.png');
  }
}
.btn-facebook {
  background-image: url('facebook_button.png');
  &:active {
    background-image: url('facebook_button_pushed.png');
  }
}

.margin-left-tiny {
  margin-left: 5px;
}

.margin-left-huge {
  margin-left: 50px;
}
