@import "variables";
@import 'twitter/bootstrap/mixins';

#home-wrapper {
  background: url('home_background.png') no-repeat center;
  background-size: cover;
  padding: 40px 0 20px 0;
  margin-top: -40px;
  color: #fff;
  h1,h2,h3,h4,h5 {
    color: #fff;
    font-weight: normal;
    line-height: 12px;
    margin-bottom: 0;
  }
  position: relative;
}

#home-teaser {
  padding-top: 40px;
  p {
    letter-spacing: 8px;
    font-size: 40px;
    text-align: right;
    line-height: 35px;
    &.first-line {
      color: $jourmieRed;      
    }
    text-shadow: 1.5px 1.5px 5px rgba(0,0,0,0.25);
  }
  margin-bottom: 20px;
}

#computer-screens {
  background: transparent url('mac.png') no-repeat center;
  width: 588px;
  height: 332px;
  position: absolute;
  bottom: -10px;
}

#home-thumbnails {
  position: relative;
  text-align: center;
  margin-top: 15px;
}

.home-thumbnail {
  text-align: left;
  display: inline-block;
  margin: 10px 25px;
  width: 270px;
  &:last-child {
    margin-right: 0;
  }
  &:first-child {
    margin-left: 0;
  }
  .description { 
    height: 50px;
    position: relative;
    left: 5px;
  }
  .image {
    background: transparent no-repeat center top;
    width: 269px;
    height: 254px;
    background-size: 269px 254px;
    @include box-shadow(2px 2px 3px rgba(0,0,0,.2));
    &.album {
      background-image: url('album_mini.jpg');
    }
    &.content {
      background-image: url('content_mini.jpg');
    }
    &.shop {
      background-image: url('shop_mini.png');
    }
  }
}

#signin-connect-buttons { 
  margin-top: 40px;
  text-align: center;
  a {
    width: 100%;
    margin-top: 20px;
  }
}
