@import "layout";
@import "variables";

html, body {
  height: 100%;
}

.full-avatar {
  max-width: 500px;
  max-height: 500px;
  width: 500px;
}

.profile-header {
  margin-top: -40px;
  width: 100%;
  height: 480px;
  background: transparent url('background_profile.jpg') top no-repeat;
  background-size: cover;
  margin-bottom: 80px;
  position: relative;
  letter-spacing: 2px;
  .info {
    font-family: Pumped;
    font-size: 1.5em;
    text-shadow: 0 2px 2px rgba(0,0,0,.3);
    text-align: center;
    position: relative;
    top: 210px;
    img.avatar {
      @include box-shadow(0 2px 2px rgba(0,0,0,.3));
      border: 5px solid $jourmieRed;
      display: block;
      margin: 20px auto;
      width: 150px;
      height: 150px;
      @include border-radius(150px);
    }
  }
  .bar {
    @include box-shadow(inset 0 2px 2px rgba(0,0,0,.3));
    padding: 15px 0;
    position: absolute;
    bottom: -40px;
    height: 60px;
    background: $jourmieMiddleGray;
    width: 100%;
    border-bottom: 5px solid $jourmieTurquoise;
  }
  ul.buttons {
    font-family: Pumped;
    display: block;
    list-style: none;
    margin: 0;
    text-align: center;
    li {
      margin: 0 20px;
      display: inline-block;
      text-shadow: 0 2px 2px rgba(0,0,0,.3);
      a {
        text-decoration: none;
        color: #fff;
      }
      .text, .number {
        padding-top: 23px;
        margin-left: 7px;
      }
      .text {
        font-size: 1.2em;
      }
      .number {
        font-weight: bold;
        font-size: 2.3em;
      }
    }
  }
  
  .profile-icon {
    display: block;
    width: 57px;
    height: 57px;
    background: transparent center no-repeat;
    background-size: 57px 57px;
    &.countries {
      background-image: url('icons/countries.png');
    }
    &.distance {
      background-image: url('icons/distance.png');
    }
    &.buddies {
      background-image: url('icons/buddies.png');
    }
  }
  
  ul.actions {
    position: absolute;
    bottom: 5px;
    right: 10px;
    list-style: none;
    margin: 0;
    li {
      text-align: center;
      margin: 3px 0;
      display: block;
      a {
        font-weight: bold;
        width: 80px;
      }
    }
  }
  
  .edit-button {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    width: 80px;
    font-weight: bold;
  }
  
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

#push-footer {
  height: 40px;
}
